body{
    background-image: url("../img/pexels-pixabay-159400.png");
    background-color: black;
    background-size: cover;
    width: 100vh;
    overflow: hidden;
    display: grid;
    place-content: center;
}

.logo1{
    display: flex;
    width: 1vi;
    height: 8vi;
    margin-top: 20vi;
    margin-left: 50vi;
}